.sidebar-svg, .logout-svg, .edit-folder-svg {
    width: 1.5rem;
    fill: transparent;
}

.item-icon {
    width: 1.3rem;
    fill: transparent;
}

.smaller-icon {
    fill: #ccc;
    width: 1.2rem;
}

.crumbs-arrow {
    width: .8rem;
}

.arrow-left-icon {
    width: 1rem;
}

.audio-svg {
    width: 2rem;
    fill: transparent;
}

.big-file-icon {
    width: 100%;
    height: 100%;
}