<div class="topbar">
    <h1>Personal Storage</h1>
    <a href="/auth/logout" class="logout-link">
        <h3>Logout</h3>
        <svg class="logout-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M10 12H20M20 12L17 9M20 12L17 15" stroke="#e28029" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M4 12C4 7.58172 7.58172 4 12 4M12 20C9.47362 20 7.22075 18.8289 5.75463 17" stroke="#e28029" stroke-width="1.5" stroke-linecap="round"></path>
        </svg>
    </a>
</div>